<h3>Ejemplo de uso</h3>
<hr>
<p>
  Para hacer uso de la funcionalidad de mensajes de alerta deberemos asegurarnos de incorporar en
  el lugar en el cual deseamos mostrar los mensajes el componente <code>LoggroMessageOutletComponent</code>
  y debemos hacer uso del servicio <code>MessageService</code> para añadir mensajes a mostrar fácilmente.
</p>
<p>
  Pueden incluirse múltiples veces el componente <code>LoggroMessageOutletComponent</code> en distintas pantallas
  de la aplicación, pero todos mostrarían los mismos mensajes, puesto que están haciendo uso del mismo servicio.
  Es por esta razón que se recomienda hacer uso del componente outlet una sola vez.
</p>
<shw-component-container>
  <loggro-message-outlet></loggro-message-outlet>
  <div class="input-group">
    <input type="text" [(ngModel)]="message" class="form-control" placeholder="Escribe un mensaje a añadir..." required>
    <div class="input-group-append">
      <button class="btn btn-success" type="button" (click)="addMessage(successType)" [disabled]="!message">Tipo Success</button>
      <button class="btn btn-danger" type="button" (click)="addMessage(errorType)" [disabled]="!message">Tipo Error</button>
      <button class="btn btn-info" type="button" (click)="addMessage(infoType)" [disabled]="!message">Tipo Info</button>
      <button class="btn btn-warning" type="button" (click)="addMessage(warningType)" [disabled]="!message">Tipo Warning</button>
    </div>
  </div>
</shw-component-container>
<h5>Import:</h5>
<shw-code-block code="import { MessageModule } from 'erpsaascmp';"></shw-code-block>
<h5>En el componente:</h5>
<shw-code-block [code]="componentCodeExample"></shw-code-block>
<h5>En el template del componente:</h5>
<shw-code-block [code]="templateCodeExample"></shw-code-block>
