.component-container {
  margin: 1rem 0 1rem 0;
  padding: 2rem;
  background-color: rgba($color: #afafaf, $alpha: 0.2);
  border-radius: 0.3rem;
  border: 1px solid rgba($color: #afafaf, $alpha: 0.2);
}
