<h4>ExcelExporterService</h4>
<p>Este servicio permite la exportación de datos como archivos de Excel simples.</p>
<p>El servicio <code>ExcelExporterService</code> ofrece el siguiente contrato:</p>
<div class="table-responsive">
  <table class="table">
    <thead>
      <th>Método</th>
      <th>Descripción</th>
      <th>Ejemplo</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <shw-code-block [code]="contractCode"></shw-code-block>
        </td>
        <td>
          <p>
            Se encarga de exportar la colección dada por parámetro a un archivo de Excel.
            El archivo de Excel generado utilizará las llaves de los objetos de la colección como
            encabezados, y utilizará los valores en las llaves para poblar las distintas filas del archivo.
          </p>
          <p>
            El parámetro <code>excelFileName</code> corresponde al nombre del archivo que se asignará al
            archivo a generado.
          </p>
          <p>
            El método además cuenta con dos parámetros opcionales. El primero es <code>sheetName</code>,
            y corresponde al nombre que se le asignará a la hoja de Excel donde estarán los datos. Si no se
            especifica el valor de <code>sheetName</code>, se pondrá por defecto el valor 'data'. El segundo
            parámetro opcional es <code>includeTimestamp</code> y su valor por defecto es <code>false</code>.
            Si este último parámetro se especifica como <code>true</code>, se pondrá en el nombre del archivo
            generado el timestamp del momento en el que se generó.
          </p>
        </td>
        <td>
          <p>Dada la colección: </p>
          <shw-code-block [code]="collectionCode"></shw-code-block>
          <p>Y dado el nombre de archivo "Clients": </p>
          <button (click)="basicExport()" class="btn btn-outline-success mb-2">Exportar a Excel</button>
          <button (click)="exportWithSheetName()" class="btn btn-outline-success mb-2">Exportar a Excel con hoja de nombre 'Ejemplo'</button>
          <button (click)="exportWithTimestamp()" class="btn btn-outline-success mb-2">Exportar a Excel con timestamp</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
