<div>
  <h1>Utilidades varias</h1>
  <hr/>
  <p>
    Al momento de desarrollar librería decidimos también incluir en ésta funcionalidades comunes encontradas en Loggro.
    Estas funcionalidades comunes pueden ser encontradas de varias formas, como por ejemplo servicios, validadores y pipes.
  </p>
  <p>
    En esta sección listamos las funcionalidades comunes implementadas hasta al momento, incluyendo ejemplos de su uso.
  </p>
  <shw-design-warning>
    <strong>Nota: </strong> Naturalmente, a medida que se avance en el desarrollo de proyectos del equipo con
    Angular, y a medida que el uso de la librería ERPSAASCMP aumente, surgirá la necesidad de nuevas utilidades comunes.
    Por favor, no dudes en <a shwContactLink>contactarnos</a>.
    para hacernos saber cuando consideres que una nueva utilidad común puede ser implementada.
  </shw-design-warning>
</div>
<shw-css-classes></shw-css-classes>
<shw-pipes></shw-pipes>
<shw-validators></shw-validators>
<div>
  <h3>Servicios varios</h3>
  <hr/>
  <shw-excel-exporter></shw-excel-exporter>
  <shw-date-utils></shw-date-utils>
</div>
