<h3>Clases de CSS</h3>
<hr/>
<p>
  La librería de componentes ERPSAASCMP también trae consigo una hoja de estilos general
  que busca facilitar y centralizar el "estilado" de elementos comunes a las aplicaciones
  del proyecto ERPSAAS. Para incluir estos estilos en un proyecto, el programador debe asegurarse
  de que en el archivo <code>styles.scss</code> del proyecto se haya añadido el import a los
  estilos generales de la librería con la siguiente línea de código:
</p>
<shw-code-block code="@import '~erpsaascmp/lib/styles/styles.scss';"></shw-code-block>
<p>Las clases de css que actualmente están incluidas son las siguientes:</p>
<table class="table">
  <thead>
    <tr>
      <th style="width: 15%;">Clase</th>
      <th>Resultado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>.loggro-title</code></td>
      <td><h1 class="loggro-title">Título</h1></td>
    </tr>
    <tr>
      <td><code>.loggro-subtitle</code></td>
      <td><h3 class="loggro-subtitle"><small>Subtítulo</small></h3></td>
    </tr>
  </tbody>
</table>
