<h3>Validators</h3>
<hr>
<p>
  Los validators son funciones que implementan la interfaz de Angular <code>ValidatorFn</code>,
  y esta interfaz determina que la función debe seguir el siguiente contrato: <code>(control: AbstractControl): ValidationErrors | null;</code>.
  Actualmente la librería ofrece los siguientes validadores comunes:
</p>
<h4>dateRangeValidator</h4>
<p>
  Esta función de validación está pensada para validar FormGroups que tengan un rango de fechas.
  Para su correcto funcionamiento, la función deberá aplicarse a un <code>FormGroup</code> que tenga
  un <code>FormControl</code> con nombre <code>startDate</code> y otro <code>FormControl</code> con nombre
  <code>endDate</code>.
</p>
<shw-design-warning>
  <strong>Nota: </strong> Es posible que a futuro sea necesario a futuro modificar este validador para que
  sea posible pasar un <code>FormGroup</code> que contenga dos controles de fecha con nombres distintos.
  Cuando llegue dicho momento se modificará la implementación actual del validador.
</shw-design-warning>
<strong>Ejemplo de uso:</strong>
<p>
  Debe notarse que el siguiente ejemplo de uso utiliza el componente <code>LoggroCalendarComponent</code>,
  cuyo uso se encuentra detallado en la <a routerLink="/inputs" target="_blank">sección de Inputs</a>.
</p>
<shw-component-container>
  <form [formGroup]="exampleForm">
    <div class="row mb-2">
      <div class="col">
        <loggro-calendar formControlName="startDate" placeholder="Fecha inicial"></loggro-calendar>
      </div>
      <div class="col">
        <loggro-calendar formControlName="endDate" placeholder="Fecha final"></loggro-calendar>
      </div>
    </div>
    <ng-container *ngIf="exampleForm.errors; else exampleFormWithoutErrors">
      Error del <code>exampleForm</code>:
      <br/>
      <code>{{ exampleForm.errors | json }}</code>
    </ng-container>
    <ng-template #exampleFormWithoutErrors>
      No hay errores en el <code>exampleForm</code>
    </ng-template>
  </form>
</shw-component-container>
<p><strong>En el componente:</strong></p>
<shw-code-block [code]="dateRangeValidatorComponentExample"></shw-code-block>
<p><strong>En el template del componente:</strong></p>
<shw-code-block [code]="dateRangeValidatorTemplateExample"></shw-code-block>
