/* You can add global styles to this file, and also import other style files */
@import "~highlight.js/styles/monokai-sublime.css";
@import "~bootstrap/scss/bootstrap.scss";
@import "../dist/cmp/lib/styles/styles.scss";

$gray-text: #5f5f5f;

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
table,
div {
  color:$gray-text;
  text-align: justify;
}

body,
html,
.ui-widget {
  font-family: Tahoma !important;
  .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item span {
    color: $gray-text;
    font-size: 12px;
    line-height: 14px;
  }
  .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight {
    background-color: #ebebeb;
    color: $gray-text;
  }
  .ui-dropdown-panel
    .ui-dropdown-items
    .ui-dropdown-item:not(.ui-state-highlight):not(.ui-state-disabled):hover {
    background-color: #f6f6f6;
    color: $gray-text;
  }
}

.display-flex--column {
  display: flex;
  flex-direction: column;
}
